<div class="table-container">
  <p-table
    [tableStyle]="{ 'min-width': '100%' }"
    [columns]="config().columns"
    [paginator]="config().paginator"
    [lazy]="config().lazy"
    [rows]="config().rows"
    [totalRecords]="config().totalRecords"
    (onPage)="config().onPage($event)"
    [showCurrentPageReport]="config().showCurrentPageReport"
    [rowsPerPageOptions]="config().rowsPerPageOptions"
    [value]="config().value"
    [(selection)]="config().selection"
    [dataKey]="config().dataKey"
    [globalFilterFields]="config().globalFilterFields"
  >
    <ng-template pTemplate="caption">
      @if (captionTemplate(); as caption) {
        <ng-container [ngTemplateOutlet]="caption"></ng-container>
      }
    </ng-template>

    <ng-template pTemplate="header" let-columns let-rowData>
      @if (config().globalFilterFields) {
        <tr class="filter-row">
          @if (showSelections()) {
            <th style="width: 4rem"></th>
          }
          @for (col of columns; track col) {
            <th>
              @if (col?.filter?.active) {
                <p-columnFilter [field]="col.field" matchMode="equals" [showMenu]="false">
                  <ng-template #filter let-value let-filter="filterCallback">
                    <p-select [(ngModel)]="rowData[col.filed]"
                              [options]="col.filter.options"
                              (onChange)="onFilter($event.value, col.field)"
                              placeholder="Filter by role"
                              [showClear]="true"
                              [style]="{'min-width': '140px'}"
                    ></p-select>
                  </ng-template>
                </p-columnFilter>
              }
            </th>
          }
          @if (showActions()) {
            <th></th>
          }
        </tr>
      }
      <tr>
        @if (showSelections()) {
          <th style="width: 4rem">
            <p-tableHeaderCheckbox/>
          </th>
        }
        @if (headerTemplate(); as header) {
          <ng-container [ngTemplateOutlet]="header" [ngTemplateOutletContext]="{ $implicit: columns }"/>
        }
        @if (showActions()) {
          <th>Action</th>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
      <tr>
        @if (showSelections()) {
          <td class="no-wrap-column">
            <p-tableCheckbox [value]="rowData"/>
          </td>
        }
        @if (bodyTemplate(); as body) {
          <ng-container [ngTemplateOutlet]="body"
                        [ngTemplateOutletContext]="{ $implicit: rowData, columns: columns, index: rowIndex }"/>
        }
        @if (showActions()) {
          <td>
            <div class="table-actions">
              <p-button icon="pi pi-eye"
                        text
                        severity="info"
                        (onClick)="details.emit(rowData)"
              />
              <p-button icon="pi pi-trash"
                        text
                        severity="danger"
                        (onClick)="delete.emit({ event: $event, items: [rowData] })"
              />
            </div>
          </td>
        }
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="7" [style]="{'text-align': 'center'}">Data not found...</td>
      </tr>
    </ng-template>
  </p-table>
</div>
