<app-template-table
  [config]="tableConfig()"
  [captionTemplate]="caption"
  [headerTemplate]="header"
  [bodyTemplate]="body"
  (delete)="onDelete($event.event, $event.items)"
  (details)="showDetails($event)"
  (filter)="onFilter($event.event, $event.field)"
/>
<ng-template #caption>
  <app-table-caption
    [selectedItems]="selectedUsers()"
    [searchInput]="searchInput"
    [buttonLabel]="'Add User'"
    [buttonRoute]="'/users/new'"
    (onDelete)="onDelete($event.event, $event.items)"
    (onSearch)="onSearch($event)"
  />
</ng-template>
<ng-template #header let-columns>
  @for (col of columns; track col) {
    <th>{{ col.name }}</th>
  }
</ng-template>
<ng-template #body let-rowData let-columns="columns">
  @for (col of columns; track col) {
    <td class="no-wrap-column">
      {{ col.value(rowData) }}
    </td>
  }
</ng-template>
<p-confirmpopup/>
