<p-toolbar class="p-toolbar">
  <ng-template #start>
    <p-button icon="pi pi-bars" text severity="primary"/>
    <p-button icon="pi pi-home" text severity="primary" routerLink="/"/>
  </ng-template>
  <ng-template #end>
    <p-button [icon]="theme() === 'dark' ? 'pi pi-moon': 'pi pi-sun'" text severity="primary" (onClick)="toggleTheme()"/>
    <p-select [options]="sharedService.data().languages"
              optionLabel="label"
              optionValue="key"
              [(ngModel)]="selectedLanguage"
    />
  </ng-template>
</p-toolbar>
