<p-toolbar class="p-toolbar">
  <ng-template #start>
    <p-menu #menu [model]="navMenu" [popup]="true" />
    <p-button icon="pi pi-bars" text severity="primary" (click)="menu.toggle($event)"/>
    <p-button icon="pi pi-home" text severity="primary" routerLink="/"/>
  </ng-template>
  <ng-template #end>
    <p-button [icon]="icon()"
              type="button"
              text
              severity="primary"
              (onClick)="toggleTheme()"
    />
    <p-button type="button"
              icon="pi pi-user"
              text
              severity="primary"
              (click)="userTemplate.toggle($event)"
              [disabled]="!isLoggedIn()"
    />
    <p-popover #userTemplate>
      <app-user-info [user]="user()" (logout)="logout($event)"/>
    </p-popover>
    <p-button type="button"
              text
              icon="pi pi-language"
              (click)="languagesTemplate.toggle($event)"
              [label]="selectedLanguage().label"
              [style]="{'min-width': '90px'}"
    />
    <p-popover #languagesTemplate>
      <ul class="dropdown">
        @for (lang of sharedService.data().languages; track lang.key) {
          <li class="dropdown-item"
              (click)="onSelected(lang); languagesTemplate.hide()"
              [ngClass]="{'selected': selectedLanguage().key === lang.key}"
          >
            {{ lang.label }}
          </li>
        }
      </ul>
    </p-popover>
  </ng-template>
</p-toolbar>
