<div class="tabs-wrapper">
  <p class="form-group-label">{{ title() }}</p>
  <p-tabs value="en" scrollable>
    <p-tablist>
      @for (tab of languages; track tab.key) {
        <p-tab [value]="tab.key">
          {{ tab.label }}
        </p-tab>
      }
    </p-tablist>
    <p-tabpanels>
      @for (tab of languages; track tab.key; let i = $index) {
        <p-tabpanel [value]="tab.key">
          <div [formGroup]="getGroup(i)">
            @if (editor()) {
              <p-editor [formControlName]="tab.key" [placeholder]="tab.key" [style]="{ height: '300px' }"/>
            } @else {
              <input pInputText type="text" [formControlName]="tab.key" [placeholder]="tab.key" pSize="large" fluid/>
            }
          </div>
        </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
</div>
