<div class="table-container">
  <p-table [columns]="columns"
           [paginator]="true"
           [lazy]="true"
           [rows]="pagination().limit"
           [totalRecords]="pagination().total"
           (onPage)="onPageChange($event)"
           [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[5, 10, 20, 50]"
           [value]="data()"
           [tableStyle]="{ 'min-width': '100%' }"
           [(selection)]="selectedProducts"
           [dataKey]="'uuid'"
  >
    <ng-template #caption>
      <div class="table-caption">
        <div class="top-column">
          @if (selectedProducts && selectedProducts.length > 0) {
            <div class="row-container">
              <p class="row-text">{{ "Selected: " }}{{ selectedProducts.length }}</p>
              <p-button icon="pi pi-trash" text severity="danger" (onClick)="onDelete($event, selectedProducts)"/>
            </div>
          }
        </div>
        <div class="top-column">
          <p-iconfield iconPosition="left" class="search-wrapper">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input pInputText
                   type="text"
                   placeholder="Search"
                   class="search-input"
                   [formControl]="searchInput"
            />
          </p-iconfield>
        </div>
        <div class="top-column">
          <p-button icon="pi pi-plus" label="Add Product" severity="primary" (onClick)="changeRoute()"/>
        </div>
      </div>
    </ng-template>
    <ng-template #header let-columns>
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox/>
        </th>
        @for (col of columns; track col) {
          <th>{{ col.name }}</th>
        }
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template #body let-rowData let-columns="columns">
      <tr>
        <td class="no-wrap-column">
          <p-tableCheckbox [value]="rowData"/>
        </td>
        @for (col of columns; track col) {
          <td class="no-wrap-column">
            {{ col.value(rowData) }}
          </td>
        }
        <td>
          <div class="table-actions">
            <p-confirmpopup/>
            <p-button icon="pi pi-eye" text severity="info" (onClick)="showDetails(rowData)"/>
            <p-button icon="pi pi-trash" text severity="danger" (onClick)="onDelete($event, [rowData])"/>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
