.table-container {
  display: block;
  width: 100%;
  height: auto;
  white-space: nowrap;

  .no-wrap-column {
    white-space: nowrap;
  }

  .table-caption {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      height: 60px;
    }

    .top-column {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 10px;
      @media screen and (min-width: 768px) {
        &:first-child {
          justify-content: flex-start;
        }
        &:last-child {
          justify-content: flex-end;
        }
        width: calc(100% / 3);
        justify-content: center;
      }

      .row-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .row-text {
          font-weight: 700;
          margin: 0 5px 0 0;
        }
      }

      .search-wrapper {
        width: 100%;

        .search-input {
          width: 100%;
        }
      }
    }
  }
}
