<div class="form-wrapper">
  <form class="form large-width" [formGroup]="form">
    <h2 class="form-title">Product Form</h2>
    <div class="form-group">
      <div class="form-col">
        <p class="form-group-label inline no-margin">UUID: {{ form.get('uuid')?.value ?? 'new' }}</p>
      </div>
      <div class="form-col">
        <p-toggleswitch formControlName="isActive" [style]="{'margin-right':'10px'}"/>
        <p class="form-group-label inline no-margin">Is Active</p>
      </div>
    </div>
    <div class="form-group">
      <div class="form-col">
        <p class="form-group-label">Product image</p>
        <app-image-uploader [imageGroup]="imageGroup()"/>
      </div>
    </div>
    <div class="form-group">
      <div class="form-col">
        <label for="sku" class="form-group-label">Sku</label>
        <input id="sku" pInputText type="text" formControlName="sku" fluid/>
      </div>
      <div class="form-col">
        <p class="form-group-label">Category</p>
        <p-select [options]="categories()" formControlName="category" fluid/>
      </div>
    </div>
    <div class="form-group">
      <app-localization-form-tabs [title]="'Product name'" [formArray]="nameArray" [editor]="false"/>
    </div>
    <div class="form-group">
      <app-localization-form-tabs [title]="'Product description'" [formArray]="descriptionArray" [editor]="true"/>
    </div>
    <div class="form-group">
      <app-currencies-form-tabs [title]="'Product price'" [formArray]="priceArray"/>
    </div>
    <div class="form-button-group">
      <p-button [style]="{'min-width': '150px'}"
                [disabled]="form.invalid"
                severity="primary"
                size="large"
                label="Save"
                icon="pi pi-save"
                (onClick)="save()"
      />
    </div>
  </form>
</div>
