@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
}

body {
  background: var(--p-gray-100);
  color: var(--p-select-color);
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-style: normal;
}

.auth-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: calc(100dvh - (95px + 30px));

  .auth-form {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 320px;
    min-height: 400px;
    padding: 20px 30px;
    margin: 0 auto;
    border-radius: var(--p-form-field-border-radius);
    @media screen and (min-width: 768px) {
      max-width: 380px;
      padding: 20px 40px;
    }

    .auth-form-title {
      color: var(--p-select-color);
      font-size: 32px;
      font-weight: 700;
      text-align: center;
      width: 100%;
      margin: 0 0 15px 0;
    }

    .auth-form-row {
      display: block;
      width: 100%;
      padding: 10px 0;

      .button {
        .p-button {
          width: 100%;
        }
      }
    }

    .auth-form-link {
      color: var(--p-primary-color);
      font-size: 18px;
      text-align: center;
      display: block;
      width: 100%;
      padding: 10px 15px;
      margin-top: 25px;
    }
  }
}

.p-dark {
  body {
    background: var(--p-zinc-950);
    color: var(--p-surface-0);
  }

  .auth-form {
    background: var(--p-zinc-900);
  }
}

.no-wrap-column {
  white-space: nowrap;
}
