<app-template-table
  [config]="tableConfig()"
  [captionTemplate]="caption"
  [headerTemplate]="header"
  [bodyTemplate]="body"
  (delete)="onDelete($event.event, $event.products)"
  (details)="showDetails($event)"
/>
<ng-template #caption>
  <app-product-caption
    [selectedProducts]="selectedProducts()"
    [searchInput]="searchInput"
    (delete)="onDelete($event.event, $event.products)"
  />
</ng-template>
<ng-template #header let-columns>
  @for (col of columns; track col) {
    <th>{{ col.name }}</th>
  }
</ng-template>
<ng-template #body let-rowData let-columns="columns">
  @for (col of columns; track col) {
    <td class="no-wrap-column">
      {{ col.value(rowData) }}
    </td>
  }
</ng-template>
<p-confirmpopup/>
